doctype html 
html(lang="en")
  head 
    title Landing Page 
  body 
    h1 The future home of something magical 
    p Veterinarian blue berries cattle jelly canning. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Prairie dogs raccoons robins rats. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Goose hammers cattle rats in crows. Sage mower goat, raccoons rhubarb outhouse a, apples berries corn. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. In quilt yearlings, gobblers pumpki.
    